.card {
  margin-bottom: 15px;
  border-radius: 10px
}

.profile-header {
  text-align: center;
}

p {
  color: rgb(64, 70, 131)
}

span {
  font-size: 50%
}

img {
  border-radius: 50%;
  box-shadow: .2rem .2rem 1rem .1rem #aec0d0;
  margin: 4% 25%;
}

li {
  border: 0
}

i {
  margin-right: 10%;
  color: #aec0d0
}